NODE_ENV=development
PORT=8000
CORS_ORIGIN=http://localhost:3000
CLIENT_ORIGIN=http://localhost:3000

DATABASE_URL=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
ADMIN_EMAIL=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
CREATE_STORY_PROMPT=

POLLINATIONS_AI_MODEL=flux
POLLINATIONS_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_STORY_FOLDER=talecrafter/stories

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

FEEDBACK_FORM_KEY=
EMAIL=
EMAIL_PASSWORD=

